extends templates/main

block metatags
    title Password Dealer | Test Page

block content
    form(style="padding:5rem")
        br
        br
        label(for="pass" style="font-family:open sans,sans-serif") Password
        span(style="color:red") &nbsp;*
        input.pwd(type="password" id="pass" style="border:1px solid black;height:2rem")
        br
        br
        br